@font-face {
  font-family: Roboto;
  font-weight: 500;
  src: url(../fonts/robotomedium.woff);
}

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "symbols-nerds";
  src: url("../fonts/symbols-nerds/symbols-nerds.woff") format("woff"), url("../fonts/symbols-nerds/symbols-nerds.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block; 
  vertical-align: top;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  font-weight: normal;
  line-height: -1em;
  font-family: "symbols-nerds";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;
  speak: none;
}

.icon-basket::before {/* "b" */
  content: "\62";
}

.icon-facebook::before {/* "f" */
  content: "\66";
}

.icon-twitter::before {/* "t" */
  content: "\74";
}

.icon-vk::before {/* "v" */
  content: "\76";
}

.icon-up-dir::before {/* "▲" */
  content: "\25b2";
}

.icon-down-dir::before {/* "▼" */
  content: "\25bc";
}

.icon-circle::before {/* "○" */
  content: "\25cb";
}

.icon-circle-dot::before {/* "●" */
  content: "\25cf";
}

.icon-check-off::before {/* "☐" */
  content: "\2610";
}

.icon-check-on::before {/* "☑" */
  content: "\2611";
}

.icon-instagramm::before {/* "\1f4f7" */
  content: "📷";
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

ul {
  list-style: none;
}

p,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.otl {
  outline: 2px solid red;
}

body {
  position: relative;
  font-family: "Roboto", Arial,  sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: medium;
  color: #283136;
  margin: 0;
}



h2 {
  font-family: "Roboto", Arial,  sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: medium;
  color: #000000;
}

h3 {
  font-family: "Roboto", Arial,  sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: medium;
  color: #000000;
}


/*для кнопок размер шрифта 12 высота 18*/

.btn {
  font-size: 12px;
  line-height: 18px;
  cursor: pointer;
}


/*меню шапки*/

.menu-header {
  width: 100%;
  background-color: #eeeeee;
}

.menu-header .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
}


/*центровщик*/

.container {
  width: 900px;
  margin: 0 auto;
}


/*логотип шапки*/

.logo {
  width: 150px;
  padding-top: 25px;
}


/*навигация по сайту*/

.top-navigation {
  /*  width: 400px;*/
}

.top-navigation ul {
  padding-top: 50px;
  font-size: 0;
}

.top-navigation a {
  display: inline-block; 
  vertical-align: top;
  padding-bottom: 5px;
  color: #000000;
  font-size: 14px;
  line-height: 30px;
  font-weight: medium;
  font-family: "Roboto", Arial,  sans-serif;
  text-transform: uppercase;
}

.top-navigation a:hover {
  color: #fb565a;
}

.top-navigation a:active {
  color: #8f8f8f;
}

.top-navigation li {
  display: inline-block; vertical-align: top;
  margin-right: 45px;
  vertical-align: top;
}

.top-navigation li:last-child {
  margin-right: 0;
}

.top-navigation .active-item {
  box-shadow: 0 2px 0 0 #fb565a;
}


/*корзина*/

.user-block {
  max-width: 150px;
  padding-top: 50px;
}

.basket {
  position: relative;
  padding-left: 25px;
  display: inline-block;
  vertical-align: top;
  padding-bottom: 5px;
  color: #000000;
  font-size: 14px;
  line-height: 30px;
  font-weight: medium;
  font-family: "Roboto", Arial,  sans-serif;
  text-transform: uppercase;
}

.icon-basket {
  position: relative;
  top: 4px;
  left: -6px;
  opacity: 0.3;
}

.user-block a:hover {
  color: #fb565a;
}

.user-block a:active {
  color: #8f8f8f;
}


/*блок каталоговой страницы - находится под шапкой, вместо слайдера*/

.welcome h2 {
  text-align: center;
  padding: 30px 150px 90px 150px;
  margin-left: 35px;
  margin-bottom: 68px;
  font-family: "Roboto", Arial,  sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: medium;
}


/*слайдер*/

.header-slider {
  position: relative;
  width: 880px;
  min-height: 310px;
  margin: 0 auto;
  overflow: hidden;
  clear: both;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 310px;
  /* размер слайда 351px;*/
  background-repeat: no-repeat;
  background-position: 100% 10px;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

.slider input[type="radio"] {
  display: none;
}

.slider-controls {
  position: absolute;
  /*  bottom: 95px;*/
  bottom: 70px;
  left: 50%;
  z-index: 10;
  width: 200px;
  margin-left: -100px;
  text-align: center;
}

.slider-controls label {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 3px;
  vertical-align: top;
  background: #ffffff;
  border: 3px solid white;
  border-radius: 50%;
  cursor: pointer;
}

.slide-text {
  width: 470px;
}

.slide-title h2 {
  font-family: "Roboto", Arial,  sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: medium;
  color: #000;
  margin: 0;
  padding: 35px 0 20px;
}

.slide p {
  font-family: "Roboto", Arial,  sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: medium;
  color: #283136;
  padding-bottom: 30px;
}

.slide .btn {
  display: block;
  width: 220px;
  padding: 12px 10px;
  font-weight: medium;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background: #fb565a;
  border-radius: 3px;
}

.slide .btn:hover {
  background-color: #d6494d;
}

.slide .btn:active {
  background-color: #b63538;
}

.slide:nth-child(1) {
  background-image: url("../img/komp.png");
}

.slide:nth-child(2) {
  background-image: url("../img/calc.png");
}

.slide:nth-child(3) {
  background: url("../img/robot.png") 100% -10px no-repeat;
  
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
  left: 0;
}

#btn-1:checked ~ .slides .slide:nth-child(2),
#btn-1:checked ~ .slides .slide:nth-child(3) {
  left: 880px;
}

#btn-2:checked ~ .slides .slide:nth-child(1) {
  left: -880px;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  left: 0;
}

#btn-2:checked ~ .slides .slide:nth-child(3) {
  left: -880px;
}

#btn-3:checked ~ .slides .slide:nth-child(1) {
  left: -880px;
}

#btn-3:checked ~ .slides .slide:nth-child(2) {
  left: -880px;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  left: 0;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background: #c1c1c1;
}


/*Features: Веб-сайты - Приложение - Презентации*/

.features {
  width: 900px;
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 75px;
}

.features p {
  font-family: "Roboto", Arial,  sans-serif;
  font-size: 15px;
  line-height: 22px;
  font-weight: medium;
  color: #283136;
}

.features h3 {
  font-family: "Roboto", Arial,  sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: medium;
  color: #000;
}


/*Features: Веб-сайты*/

.web {
  float: left;
  width: 240px;
  margin-right: 80px;
  padding-left: 10px;
}


/*кнопка преимуществ*/

.shop-now1 {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  line-height: 40px;
  width: 130px;
  min-height: 40px;
  margin-top: 30px;
  background-color: #fb565a;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
}

.shop-now1:hover {
  background-color: #d6494d;
}

.shop-now1:active {
  background-color: #b63538;
}


/*Features: Приложение*/

.mobile {
  float: left;
  width: 240px;
  margin-right: 80px;
}

.shop-now2 {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  line-height: 40px;
  width: 130px;
  min-height: 40px;
  margin-top: 30px;
  background-color: #00ca74;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
}

.shop-now2:hover {
  background-color: #01a25e;
}

.shop-now2:active {
  background-color: #009053;
}


/*Features: Презентации*/

.present {
  float: left;
  width: 240px;
}

.shop-now3 {
  display: inline-block;
  text-align: center;
  line-height: 40px;
  vertical-align: top;
  width: 130px;
  min-height: 40px;
  margin-top: 30px;
  background-color: #efc84a;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
}

.shop-now3:hover {
  background-color: #d6ae2c;
}

.shop-now3:active {
  background-color: #c09b24;
}


/*Промо: блок описания*/

.about-us {
  width: 900px;
  margin: 0 auto;
  padding: 60px 10px 70px 10px;
  border-bottom: 3px solid #eeeeee;
  border-top: 3px solid #eeeeee;
}


/*Промо: левый блок*/

.about-us-left {
  float: left;
  width: 620px;
  padding-left: 10px;
}

.about-us-left p {
  display: block;
  font-family: "Roboto", Arial,  sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: medium;
  color: #283136;
}

.about-us-left li {
  display: block;
  font-family: "Roboto", Arial,  sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: medium;
  color: #283136;
  padding: 5px 0 5px 0;
}


/*Промо: правый блок*/

.about-us-right {
  float: right;
  width: 230px;
}

.about-us-right img {
  margin: 35px 0 20px 0;
}

.about-us-right h3 {
  font-family: "Roboto", Arial,  sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: medium;;
  color: #283136;
}

.about-us-right .sinse {
  display: block;
  font-family: "Roboto", Arial,  sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: medium;;
  color: #283136;
  padding: 60px 0 5px 30px;
  padding-bottom: 8px;
}

.about-us-right li {
  font-family: "Roboto", Arial,  sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: medium;
  color: #283136;
  padding: 5px 0 5px 0;
}

.about-us li {
  position: relative;
  padding-left: 30px;
}

.about-us-left h3 {
  font-family: "Roboto", Arial,  sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: medium;;
  color: #283136;
}


.about-us-right li:before {
  position: absolute;
  content: "";
  top: 15px;
  right: 210px;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.about-us-left li:before {
  position: absolute;
  content: "";
  top: 15px;
  left: -5px;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}


/*Партнеры: блок партнерских ссылок*/

.partners {
  position: relative;
  width: 900px;
  margin: 0 auto;
  min-height: 165px;
  border-bottom: 3px solid #eeeeee;
  /*  padding-bottom: 3px;*/
  margin-bottom: 85px;
}

.partners-items-1 {
  position: absolute;
  top: 60px;
  left: 50px;
  display: inline-block;
  vertical-align: top;
  width: 300px;
}

.partners-items-1 a img {
  opacity: 0.3;
}

.partners-items-1 a img:hover {
  opacity: 1;
}

.partners-items-2 {
  position: absolute;
  width: 300px;
  top: 50px;
  left: 350px;
}

.partners-items-2 a img {
  opacity: 0.3;
}

.partners-items-2 a img:hover {
  opacity: 1;
}

.partners-items-3 {
  position: absolute;
  width: 250px;
  top: 45px;
  left: 650px;
}

.partners-items-3 a img {
  opacity: 0.3;
}

.partners-items-3 a img:hover {
  opacity: 1;
}

.catalog-main-content {
  /**/
  width: 100%;
  margin: 0 auto;
}

.section-catalog {
  width: 900px;
  margin: 0 auto;
}


/* Фильтр: сортировка продукции*/

.filter {
  width: 240px;
  float: left;
}


/*Ползунок стоимости*/

.price {
  padding-bottom: 50px;
}

.range-filter {
  width: 240px;
  margin: 0;
  /* для демонстрации */
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background: #f1f1f1;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-family: "Roboto", Arial,  sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: medium;
  width: 60px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #f1f1f1;
}


/*Переключатель: Radio*/

.grid {
  margin-bottom: 40px;
}

.filter h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: medium;
  font-family: "Roboto", Arial,  sans-serif;
  color: #000;
  text-transform: uppercase;
  padding-bottom: 20px;
  margin: 0;
}


input[type="radio"] {
  display: none;
}

input[type="radio"] + label {
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
  padding-left: 45px;
  font-weight: medium;
  color: #283136;
  position: relative;
  cursor: pointer;
}

input[type="radio"] + label:hover {
  color: #000;
}

input[type="radio"]:disabled + label {
  opacity: 0.3;
}

input[type="radio"] + label::before {
  content: "\25cb";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  font-size: 24px;
  color: #c1c1c1;
  font-family: "symbols-nerds";
}

input[type="radio"]:hover + label::before {
  color: #b5b5b5;
}

input[type="radio"]:checked + label::before {
  content: "\25cf";
}


/*Переключатель: Checkbox*/

.more-function {
  margin-bottom: 40px;
}


input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  margin-bottom: 20px;
  line-height: 20px;
  padding-left: 45px;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  font-weight: medium;
  cursor: pointer;
}

input[type="checkbox"]:disabled + label {
  opacity: 0.3;
}

input[type="checkbox"] + label:hover {
  color: #000;
}

input[type="checkbox"] + label::before {
  content: "\2610";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  font-size: 24px;
  color: #c1c1c1;
  font-family: "symbols-nerds";
}

input[type="checkbox"]:hover + label::before {
  color: #b5b5b5;
}

input[type="checkbox"]:checked + label::before {
  content: "\2611";
}


/*Кнопка для показа выбранной сортировки поиска товара, находится под блоком фильтр*/

.btn-show {
  width: 150px;
  height: 35px;
  background-color: #f1f1f1;
  border-radius: 5px;
  font-size: 12px;
  line-height: 18px;
  font-weight: medium;
  font-family: "Roboto", Arial,  sans-serif;
  color: #000000;
  border: none;
  margin-top: 25px;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-show:hover {
  background-color: #e5e5e5;
}

.btn-show:active {
  background-color: #d5d5d5;
}


/*Сетка: Каталог товаров*/

.content-catalog {
  width: 580px;
  float: right;
}


/*Сортировка: кнопки для сортировки поиска продукции*/

.sort-main {
  position: relative;
}

.sort-main span {
  display: inline-block; vertical-align: top;
  margin-right: 40px;
  font-size: 12px;
  font-weight: 18px;
  font-family: "Roboto", Arial,  sans-serif;
  font-weight: medium;
  text-transform: uppercase;
  color: #283136;
}

.sort-main a {
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
  font-size: 12px;
  font-weight: 18px;
  font-family: "Roboto", Arial,  sans-serif;
  font-weight: medium;
  color: #283136;
  opacity: 0.3;
  border-bottom: 1px dotted #00ca74;
  text-transform: uppercase;
}



.sort-main a:hover {
  opacity: 1;
  border-bottom: 1px solid #00ca74;
}

.sort-main a:active {
  opacity: 1;
  border-bottom: none;
}

.btn-descending span {
  position: absolute;
  top: 4px;
  right: 5px;
  display: inline-block; 
  vertical-align: top;
  font-size: 23px;
  color: black;
  opacity: 0.3;
  width: 15px;
  height: 15px;
}

.btn-descending span:hover {
  opacity: 1;
}

.btn-descending span:active {
  opacity: 1;
  color: #00ca74;
}

.btn-ascending span {
  position: absolute;
  top: 4px;
  right: -10px;
  display: inline-block;
  vertical-align: top;
  font-size: 23px;
  color: black;
  opacity: 0.3;
  width: 15px;
  height: 15px;
}

.btn-ascending span:hover {
  opacity: 1;
}

.btn-ascending span:active {
  opacity: 1;
  color: #00ca74;
}


/*блок товара*/

.catalog-item {
  position: relative;
  float: left;
  margin-right: 80px;
  margin-bottom: 80px;
  cursor: pointer;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item:hover .roof {
  background: #797979;
}

.roof {
  padding: 4px 0 4px 10px;
  background: #f1f1f1;
  border-radius: 5px 5px 0 0;
}

.hole {
  /*стилизация элементов товара*/
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 9px;
  background-color: #fff;
  border-radius: 50%;
}


/*Всплывающее окно цены и кнопка для заказа, размещена через hover, как всплывающее окно на изоброжении продукта */

.item-hover {
  position: absolute;
  left: 20px;
  top: 50px;
  width: 200px;
  height: 200px;
  background-color: #fff;
  opacity: 0;
}

.catalog-item:hover .item-hover {
  opacity: 1;
}

.item-hover h3 {
  padding: 10px 10px 10px 10px;
  margin: 20px 0 5px 50px;
  font-size: 18px;
  line-height: 30px;
  font-family: "Roboto", Arial,  sans-serif;
  color: #000000;
  text-transform: uppercase;
}

.item-hover p {
  display: inline-block; vertical-align: top;
  width: 160px;
  height: 40px;
  padding: 5px 5px;
  margin-left: 30px;
  font-size: 14px;
  line-height: 18px;
  font-weight: medium;
  font-family: "Roboto", Arial,  sans-serif;
  color: #283136;
}


/*Кнопка для покупки товара*/

.buy {
  margin: 20px 15px 15px 30px;
  display: inline-block;
  vertical-align: top;
  width: 140px;
  min-height: 40px;
  background-color: #fb565a;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.buy:hover {
  background-color: #d6494d;
}

.buy:active {
  background-color: #b63538;
}


/*Кнопки переключения страниц магазина*/

.btn-pg {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  border: 3px solid #f1f1f1;
  background-color: #f1f1f1;
  color: #000;
  margin-bottom: 80px;
  margin-right: 16px;
  padding: 12px 18px;
  border-radius: 3px;
  font-family: "Roboto", Arial,  sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: medium;
  text-transform: uppercase;
}

.btn-pg:hover {
  background-color: #e5e5e5;
}

.btn-pg:active {
  background-color: #d5d5d5;
}

.btn-pg-active {
  background-color: white;
}


/*КАРТА*/

.map {
  width: 100%;
  background: #e9e5dc url("../img/map.jpg") no-repeat;
  min-height: 415px;
  margin-bottom: 10px;
  background-size: cover;
}

.map .container {
  position: relative;
}

.map iframe {
  width: 100%;
}


/*Обратная связь*/

.feat-back {
  position: absolute;
  left: 0;
  top: 85px;
  width: 240px;
  min-height: 250px;
  background-color: #fff;
}

.feat-back h1 {
  padding: 14px 0 5px 20px;
  font-size: 16px;
  line-height: 30px;
  font-family: "Roboto", Arial,  sans-serif;
  font-weight: medium;
  color: #000000;
  text-transform: uppercase;
}

.adress {
  padding: 5px 0 10px 20px;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
  font-family: "Roboto", Arial,  sans-serif;
  color: #666;
  text-transform: uppercase;
}

.phone {
  padding: 5px 0 15px 20px;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 20px;
  font-family: "Roboto", Arial,  sans-serif;
  color: #666;
  text-transform: uppercase;
}


/*кнопка заказа на карте*/

.send-us {
  margin: 0 20px 15px 20px;
  display: inline-block;
  width: 200px;
  min-height: 40px;
  background-color: #fb565a;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  line-height: 40px;
  font-weight: medium;
  font-family: "Roboto", Arial,  sans-serif;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

.send-us:hover {
  background-color: #d6494d;
}

.send-us:active {
  background-color: #b63538;
}


/*Подвал: Социальные сети*/

.footer {
  padding: 75px 0;
}

.footer .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info {
  width: 550px;
}

.info p {
  font-size: 16px;
  line-height: 22px;
  font-weight: medium;
  font-family: "Roboto", Arial,  sans-serif;
  color: #283136;
}

.info .add-friends {
  padding-bottom: 10px;
  font-size: 36px;
  line-height: 36px;
  font-weight: medium;
  font-family: "Roboto", Arial,  sans-serif;
  color: #000;
}

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.social-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  position: relative;
  width: 62px;
  height: 63px;
  background-color: #fb565a;
  font-size: 0;
  border-radius: 50%;
  margin-right: 30px;
  line-height: 63px;
  color: #fff;
  opacity: 0.3;
}

.social-btn span {
  font-size: 28px;
  color: #fff;
  text-align: center;
  margin: auto;
}

.social a:hover {
  opacity: 1;
  background-color: #d6494d;
}


/*Блок формы*/

.block-form {
  display: none;
  width: 630px;
}

@-webkit-keyframes login-open {
  0% {
    -webkit-transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@keyframes login-open {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.block-form-show {
  display: block;
  position: fixed;
  top: 90px;
  left: calc(50% - 315px);
  -webkit-animation: login-open 0.4s;
  animation: login-open 0.4s;
}

.feed-back-form {
  position: relative;
  font-size: 0;
  padding: 70px 80px 50px 80px;
  background-color: #fff;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, .75);
}

.feed-back-form input[type="text"],
.feed-back-form input[type="email"],
.feed-back-form textarea {
  font-weight: medium;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  color: #000;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  resize: none;
}

.feed-back-form input[type="text"]:hover,
.feed-back-form input[type="email"]:hover,
.feed-back-form textarea:hover {
  border: 2px solid #a2a9ac;
}

.feed-back-form input[type="text"]:focus,
.feed-back-form input[type="email"]:focus,
.feed-back-form textarea:focus {
  border: 2px solid #56bffb;
}

.feed-back-form input[type="text"],
.feed-back-form input[type="email"] {
  display: inline-block;
  vertical-align: top;
  width: 209px;
  height: 37px;
  padding-left: 10px;
  margin-right: 22px;
  margin-bottom: 20px;
}

.feed-back-form input[type="email"] {
  margin-right: 0;
}

.feed-back-form label {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: medium;
  display: inline-block;
  vertical-align: top;
  width: 224px;
  /*  outline: 1px solid green;*/
  margin-right: 20px;
}

.feed-back-form label:nth-child(1) {}

.feed-back-form label:nth-child(2) {
  margin-right: 0;
}

.message-field {
  padding-left: 10px;
  width: 453px;
  margin-bottom: 50px;
  padding-top: 10px;
}

.form-btn {
  text-align: center;
  width: 100%;
  height: 38px;
  color: #fff;
  border: none;
  background-color: #fb565a;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
}

.form-btn:hover {
  background-color: #d6494d;
}

.form-btn:active {
  background-color: #b63538;
}

.cancel-btn {
  position: absolute;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  top: 6px;
  right: 6px;
  border: 1px solid #fb565a;
  width: 40px;
  height: 40px;
  background-color: #fb565a;
  border-radius: 50%;
  cursor: pointer;
  background-image: url("../img/cancel-btn.png");
  background-repeat: no-repeat;
  background-position: center;
}

.cancel-btn:hover {
  background-color: #d6494d;
}

.cancel-btn:active {
  background-color: #b63538;
}

::-webkit-input-placeholder {
  color: #000;
}

::-moz-placeholder {
  color: #000;
}

:-ms-input-placeholder {
  color: #000;
}

